[user]
	name = Henrik Holst
	email = hholst80@users.noreply.github.com
[color]
	diff = auto
	status = auto
	branch = auto
[column]
	ui = auto
[credential]
	helper = store
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	st = status
	cp = cherry-pick
	sm = submodule
	last = log -1 HEAD
	exec = "! "
	root = rev-parse --show-toplevel
[diff]
    tool = vimdiff
[difftool "vimdiff"]
    cmd = vim -d "$LOCAL" "$REMOTE"
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = vim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
	verbose = true
[cola]
	spellcheck = true
